<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{{category.image.url}}" alt="Category image"/>
    <h4>{{category.description}}</h4>
    <p>{{category.price}}</p>
    <p>{{category.stock}}</p>
    <p>{{category.price}}</p>
    <p>{{category.date_created}}</p>
    <p>{{category.date_updated}}</p>
    <span>{{category.details}}</span>
    <button>save</button>
</body>
</html>