<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Shipment List</h3>
    <table>
        <th>
            <td>name</td>
            <td>description</td>
            <td>date_created</td>
        </th>
        {%for shipment in shipment %}
        <tr>
            <td>{{shipment.name}}</td>
            <td>{{shipment.description}}</td>
            <td>{{shipment.date_created}}</td>
            <td><a href="{% url 'shipment_detail_view' id=shipment.id %}">Shipment List</a> </td>
            <td><a href="{% url 'edit_shippingAdress_view' id=shippingAddress.id %}">Edit shippingAddress</a> </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>