<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
    <h3>Reviews List</h3>
    <table>
    <th>
    <td>name</td>
    <td>comments</td>
    </th>
    {%for reviews in reviews%}
    <tr>
    <td>{{reviews.name}}</td>
    <td>{{reviews.comments}}</td>
    <td> <a href="{% url 'reviews_detail_view' id=reviews.id %}">Reviews details</a> </td>
    <td><a href="{% url 'edit_reviews_view' id=reviews.id %}">Edit Reviews</a> </td>
                
    </tr>
    {% endfor %}
    </table>
    </body>
    </html>