<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Order details List</h3>
    <table>
        <th>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Details</td>
            <td>Edit</td>
        </th>
        {%for order in orders%}
        <tr>
            <td>{{order.name}}</td>
            <td>{{order.description}}</td>
            <td>{{order.price}}</td>
            <td>{{order.details}}</td>
            <td>{{order.edit}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>